.content {
  position: absolute;
  top: 40px;
  left: 600px;
  margin-left: 20px;
text-align: center;
font-family: 'Oswald', sans-serif;
}

header{
font-family: 'Oswald', sans-serif;
  background-image: linear-gradient(to top, black,white );
  color:black;
  flex-direction: column; 
    background-size: cover;
    height: 75vh;
}

main{
  background-image: linear-gradient(to top, white,black);
  color: whitesmoke;
}

.name {
  position: absolute;
  top: 50px;
  font-family: 'Oswald', sans-serif;
}


.icon {
  font-size: 50px;
  color: white;
} 

.devicon{
  font-size: 50px;
  color: black;
}

.move{ 
  justify-content: space-between;
  align-items: flex-end;
}

.text{
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: whitesmoke;
}

.imgicons{
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: whitesmoke;
}

footer{
  background-image: linear-gradient(to bottom, white, black );
  color: black;
  height: 15vh;
}

/* .dropbtn {
    background-color: whitesmoke;
    color:black;
    flex-direction: column; 
    padding: 5px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: absolute;
    bottom: 130px;
    right: 2px;
    display: inline-block;
    border: double;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 20px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: grey;
  color: whitesmoke;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: whitesmoke;
  color: grey;
} */

.contact{
 justify-content: center;
 font-family: 'Oswald', sans-serif;
}

.carousel-inner img {
  margin: auto;
}

.links{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap; 
}

p{
font-size: 22px;
}

.imgborder{
  border: double;
  /* color: whitesmoke; */
}

.projectmargin{
margin-top: 50 px;
}
