
header{
  font-family: 'Oswald', sans-serif;
  background-image: linear-gradient(to bottom, grey,#041525 );
}

main{
  font-family: 'Oswald', sans-serif;
  color: rgb(202, 197, 197);
  background-color: #04324a;   
}

.name {
  color: whitesmoke;
}

.topborder{
  border-bottom: solid 1px grey;
}

.icon {
  font-size: 50px;
  color: white;
} 

/* .devicon{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column-reverse;
} */

.skill{
  background-color: grey;
  color: rgb(202, 197, 197);
  font-family: 'Oswald', sans-serif;
}

.about{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #041525;
  color: rgb(202, 197, 197);
  font-family: 'Oswald', sans-serif;
}

.headericons{
  display: flex;
  justify-content: flex-end;
  font-size: 45px;
  color: whitesmoke;
}

.codeimg{
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(202, 197, 197);
  background-image: url(/assets/mountains2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-width: 100%;
  height: 100vh;
}

.text{
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: whitesmoke;
}

.imgicons{
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: whitesmoke;
}

footer{
  background-color: grey;
  font-family: 'Oswald', sans-serif;
  color: rgb(202, 197, 197);
  height: 15vh;
}

.contact{
 justify-content: center;
 font-family: 'Oswald', sans-serif;
}

.carousel-inner img {
  margin: auto;
}

p{
font-size: 16px;
color: whitesmoke;
}

.imgborder{
  border: double;
  color: rgb(202, 197, 197);
  border-radius: 75%;
}

.projectmargin{
margin-top: 50 px;
}
